label#toggle-icon {
  display: none; }

#menu label,
#menu .sub-nav,
#menu .sub-heading,
#header label {
  display: none; }

#menu {
  left: auto;
  bottom: auto;
  height: 0;
  width: 100%;
  z-index: 1; }
  #menu > ul {
    float: right;
    position: relative;
    z-index: 1;
    top: 0.4285em;
    right: 1em;
    margin-top: 0;
    display: inline-table;
    border-left: 1px solid #444;
    border-right: 0;
    font-size: 0.875em; }
  #menu ul:after {
    content: "";
    clear: both;
    display: block; }
  #menu ul li {
    float: left;
    position: relative;
    text-align: left;
    border-right: 1px solid #444444; }
    #menu ul li a {
      padding: 0.5em 2.5em 0.5em 1.5em; }
      #menu ul li a:only-child {
        padding-right: 1.5em; }
      #menu ul li a:after {
        content: "\203A";
        position: absolute;
        right: 0.5em;
        margin-top: -1.5625em;
        display: block;
        font: 1.5em Arial;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
      #menu ul li a:only-child:after {
        content: ""; }
  #menu ul li:hover > a {
    background: #333;
    -webkit-transition: background-color .25s ease;
    transition: background-color 0.25s ease; }
  #menu ul li:hover > ul {
    display: block; }
  #menu ul ul {
    position: absolute;
    left: 0;
    margin-left: -1px; }
    #menu ul ul li {
      float: none;
      width: 13.75em;
      border-left: 1px solid #444444; }
      #menu ul ul li a {
        padding: 0 1.5em; }
        #menu ul ul li a:after {
          right: 0.375em;
          margin-top: -1.6875em;
          -webkit-transform: none;
          -ms-transform: none;
          transform: none; }
    #menu ul ul .sub-nav {
      float: left;
      top: 0;
      left: 13.75em;
      margin-left: 0;
      margin-top: -1px; }
  #menu ul .sub-nav {
    top: auto;
    bottom: auto;
    left: auto;
    width: auto;
    margin-top: 0; }
  #menu ul .fly-left ul {
    left: -13.75em;
    margin-left: -2px; }
  #menu ul .fly-left a:after {
    right: auto;
    left: 0.5em;
    left: 0.375em;
    margin-top: -1.5625em;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }
