html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative; }

body {
  overflow-x: hidden; }

/* http://timpietrusky.com/advanced-checkbox-hack */
@-webkit-keyframes androidbugfix {
  from {
    padding: 0; }

  to {
    padding: 0; } }
/* http://timpietrusky.com/advanced-checkbox-hack */
label#toggle-icon {
  position: static;
  right: 0;
  padding: 0 0.125em;
  font: 4em / 1em Courier;
  display: block;
  float: right; }

#menu label {
  padding: 0 0.25em;
  font: 3.125em / 1.375em Arial; }

#menu .sub-nav label {
  padding: 0 0.3125em;
  font: 2.2em/1.8em Arial;
  top: 0; }

#header label:hover, #menu label:hover {
  color: #cccccc; }

#main-nav-check, #menu .sub-nav-check {
  position: absolute;
  top: -9999px;
  left: -9999px; }

.toggle {
  position: absolute;
  right: 0.15em;
  cursor: pointer;
  color: white; }

.l-responsive-page-container {
  min-height: 100%;
  padding: 0;
  margin: 0; }

#menu, #menu .sub-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 13.75em;
  background: #222;
  z-index: 9999;
  left: -13.75em; }

.l-responsive-page-container, #menu, #menu .sub-nav {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform .25s ease;
  transition: transform .25s ease; }

#menu ul {
  background: #222;
  line-height: 2.75em;
  text-decoration: none;
  padding: 0;
  list-style: none;
  margin-top: 4.0625em;
  border-top: 1px solid #444444; }

#menu li {
  border-bottom: 1px solid #444444; }

#menu li a {
  display: block;
  font-size: 0.875em;
  padding-left: 1.5em;
  color: #fff;
  text-decoration: none; }

#menu li a:hover, #menu .toggle-sub:hover {
  background: #333333; }

#menu .sub-nav {
  margin-top: -1px; }

#menu .sub-heading {
  margin-top: 4.0625em;
  padding-left: 1.3125em;
  color: #999999; }

#menu .sub-heading:before {
  content: "";
  display: block;
  height: 1px;
  width: 13.75em;
  margin-left: -1.3125em;
  background: #444444; }

#menu .toggle-sub {
  font: bold 1em/2.75em Arial !important;
  color: #fff;
  background: #222;
  float: right;
  top: auto;
  margin-top: -2.75em;
  width: 2.25em;
  border-left: 1px solid #444;
  cursor: pointer;
  text-align: center; }

.l-responsive-page-container, #menu, #menu .sub-nav {
  -webkit-transform: translate3d(0, 0, 0); }

/* http://davidwalsh.name/translate3d */
/* #### - corrects 'unfixing' bug in Safari - uncomment if you have position:fixed elements inside .container - #### */
/* @media screen and (-webkit-min-device-pixel-ratio:0) { .container { -webkit-transform:none } } */
/* #### - define ids of animated container, menu and sub-menus here - #### */
#main-nav-check:checked + #menu,
#menu .sub-nav-check:checked + .sub-nav {
  -webkit-transform: translate(13.75em, 0);
  -ms-transform: translate(13.75em, 0);
  transform: translate(13.74em, 0); }

#main-nav-check:checked ~ .l-responsive-page-container,
#main-nav-check:checked + #menu:only-of-type + .l-responsive-page-container,
#main-nav-check:checked + #menu:nth-child(n) + .l-responsive-page-container {
  -webkit-transform: translate(13.75em, 0);
  -ms-transform: translate(13.75em, 0);
  transform: translate(13.74em, 0); }

#menu ul li.leaf,
#menu ul li.expanded,
#menu ul li.collapsed {
  list-style: none;
  padding: 0; }
